@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  background-color: #232323;
  color: #e0e0e0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  /* text-align: left é o padrão; */
  /* usar text-align justify pra quando houver muita informação */
  /* border-box subtrai o padding, já o content-box soma o padding mais o conteúdo */
}
h1 {
  margin: 8px;
}
p {
  margin: 10px;
  line-height: 25px;
}
table {
  width: 600px;
}
th,
thead td {
  color: white;
  background-color: slategray;
  border: 2px solid #c6cad2;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
}
tbody td {
  color: white;

  background-color: lightslategray;
  padding: 10px;
  border: 3px solid slategray;
  border-radius: 4px;
}
tbody tr :hover {
  background-color: rgb(170, 185, 199);
}
