@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #141414;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  /* text-align: left é o padrão; */
  /* usar text-align justify pra quando houver muita informação */
  /* border-box subtrai o padding, já o content-box soma o padding mais o conteúdo */
}
h1,
h2,
h3,
h4 {
  margin-left: 25px;
}
p {
  margin-left: 25px;
  line-height: 25px;
}
table {
  margin-left: 25px;
  margin-top: 50px;
  width: 600px;
}
table thead tr th {
  color: white;
  background-color: rgb(71, 81, 92);
  border-radius: 4px;
  padding: 10px;
}

tbody tr td {
  color: white;
  background-color: lightslategray;
  padding: 10px;
  border: 3px solid slategray;
  border-radius: 4px;
}
/* table tbody tr td:nth-child(even) {
  background-color: black;
} */
tbody tr :hover {
  background-color: rgb(170, 185, 199);
  cursor: pointer;
}

form {
  margin-left: 25px;
}
label {
  display: block;
  margin-top: -5px;
}
.Descricao {
  padding: 10px;
  width: 500px;
}
input,
[type="textarea"],
[type="text"] {
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
}
textarea {
  height: 200px;
  resize: none;
  border-radius: 6px;
  outline: 0;
}
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #949494;
  background-color: #eee;
}
button:hover {
  background-color: #ddd;
  border: 1px solid #949494;
}
fieldset,
fieldset label {
  background-color: #eee;
  border-radius: 6px;
}
fieldset label {
  padding: 5px;
}
legend {
  border-radius: 6px;
  /* background-color: #eee; */
  border: 1px solid #ccc;
  padding: 5px;
}
